.bg-title {
	background-color: #F3F8FF;
}
.title-blue-left {
	position: relative;
	padding: 1em;
	background-color: #DBECFF;
}
.title-lightblue-left {
	position: relative;
	padding: 1em;
	background-color: #F3F8FF;
}
.title-white-left {
	position: relative;
	padding: 1em;
	background-color: #FFF;
}
.color-grey {
	color: #adadad;
}
.color-green {
	color: #00B63C;
}