<div class="container login-container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-7">
            <h2 class="text-center mb-1"><img src="assets/parking/images/logo.png" alt=""></h2>
            <p class="text-center text-secondary smalltext">拠点駐車場・顧客管理</p>
            <div class="card login-card mb-3">
                <div class="card-body">
                    <div class="text-center text-success">
                        <i class="icon-check-circle" style="font-size: 64px;"></i>
                    </div>
                    <h6 class="text-center mb-0"><strong>メールを送信しました。</strong></h6>
                    <p class="text-center">
                        パスワードの再設定を行うためのメールをお送りしました。<br>手順に従ってパスワードを再設定してください。
                    </p>
                </div>
                <div class="card-footer bg-white">
                    <a routerLink="/login">« ログインへ戻る</a>
                </div>
            </div>
        </div>
    </div>
</div>