<div class="footer-wrapper">
    <div class="card top-up">
        <div class="card-body text-center">
            <a href="#site-content" class="top-up-link"><span class="oi oi-caret-top"></span> ページ上部へ戻る</a>
        </div>
    </div>
    <footer id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 mb-3">
                    <a href="#">利用規約</a>
                </div>
                <div class="col-6 mb-3">
                    <a href="#">個人情報保護方針</a>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-3">
                    <a href="#">お問い合わせ</a>
                </div>
                <div class="col-6 mb-3">
                    <a href="#">運営会社</a>
                </div>
            </div>
            <p class="text-center mt-3">
                <img src="assets/parking/images/footer-logo.png" alt="Park Direct Logo"><br>
                © park direct
            </p>
        </div>
    </footer>
</div>