<div class="header-wrapper">
    <div class="container-fluid">
        <header id="header" class="d-flex justify-content-between align-items-center">
            <div class="header-brand">
                <h1 class="logo"> <a routerLink="/" class="logo-link"><img src="assets/parking/images/logo.png" alt="Park Direct Logo"></a></h1>
            </div>
            <div class="header-menu">
                <a class="menu-toggle"> <span class="oi oi-menu"></span> <span class="smalltext text-uppercase d-block">メニュー</span></a>
            </div>
        </header>
    </div>
</div>