<div id="site-content" class="site-content">
    <div class="card bg-white mb-2">
        <div class="card-body text-center">
            <p>&nbsp;</p>
            <p><img src="assets/parking/images/404.png" alt="404"></p>
            <h4>お探しのページが見つかりません。</h4>
            <p>お探しのページは一時的にアクセスができない状況にあるか、移動もしくは削除された可能性があります。</p>
            <p><a href="#" class="btn btn-primary btn-block" style="max-width: 80%;margin: 0 auto;">TOPページへ戻る</a></p>
        </div>
    </div>
    <div class="card bg-white">
        <div class="card-body">
            <h5 class="title-primary-left">駐車場をさがす</h5>
            <form action="#" method="get">
                <div class="form-group">
                    <div class="input-button-group icon-inside icon-left">
                        <button type="submit" class="btn btn-primary btn-icon"><span class="oi oi-magnifying-glass"></span></button>
                        <input type="text" class="form-control" placeholder="住所・駅名・駐車場名で検索">
                    </div>
                </div>
            </form>
            <div class="d-flex align-content-stretch flex-wrap border">
                <div class="text-center border-right p-2" style="flex: 1;">
                    <p class="text-primary mb-0 big-text"><span class="oi oi-location"></span></p>
                    <h5 class="mb-0"><strong>現在地</strong></h5>
                    <p class="smalltext mb-0">からさがす</p>
                </div>
                <div class="border-right text-center p-2" style="flex: 1;">
                    <p class="text-primary mb-0 big-text"><span class="oi oi-map-marker"></span></p>
                    <h5 class="mb-0"><strong>エリア</strong></h5>
                    <p class="smalltext mb-0">からさがす</p>
                </div>
                <div class="text-center p-2" style="flex: 1;">
                    <p class="text-primary mb-0 big-text"><span class="oi oi-map"></span></p>
                    <h5 class="mb-0"><strong>沿線・駅</strong></h5>
                    <p class="smalltext mb-0">からさがす</p>
                </div>
            </div>
        </div>
    </div>
</div>